 li.slidebox-bullet
{
	float: left;
	list-style: none;
	margin-left: 10px;
	width: 22px;
	height: 22px;
	display:block;
	position:relative;
	right:50%;
}

#slidebox-bullets
{
	position:relative;
   	left:50%;
   	float: left;
	clear:left;
}

#bulletswrapper
{
	float:left;
   	width:100%;
   	position:relative;
}

li.slidebox-bullet a
{
	display: block;
	width: 22px;
	height: 22px;
	background-image: url("images/bullets.png");
}

li.slidebox-bullet a.active
{
	background-position: 0px 22px;
}

.arrow
{
	background-image: url("images/arrows.png");
	display: block;
	width: 30px;
	height: 30px;
}

.rightarrow
{
	background-position: 30px 0px;
}
